@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');


$body-color:#010a0f;
$font-color:#fffffe;
$paragraph-color:#a7a9be;
$button-color:#ff8906;

$font-header:"Roboto", sans-serif;


$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts"; // relative to the current file